<ng-container *ngIf='tracks.length; else noTracks'>
  <div *ngFor="let track of tracks" class='list-item'>
    <div class='w-33'>
      <b>{{track.artists[0].name}}</b>
    </div>
    <div class='w-66'>
      {{track.name}}
    </div>
  </div>
</ng-container>
<ng-template #noTracks>
  <div *ngIf='ds.recommendationStatus === "Search completed"' class='list-item'>
    Looks like there is no tracks matching your request. Maybe your filters are too strict?
  </div>
  <div *ngIf='ds.recommendationStatus !== "Search completed" && ds.recommendationStatus' class='list-item'>
    {{ds.recommendationStatus}}
  </div>
  <div class='list-item'>
    <div>
      <p>
        To get your recommended playlist click <b>Recommend</b> button located in the <b>Filters</b> tab.
      </p>
      <p>
        Recommendation will be based on tracks of selected genres from <b>Genre Stats</b>.
        If you select none — algorithm will pick random tracks from all of your saved tracks.
      </p>
      <p>
        You can also use <b>Search Filters</b> to specify your request.
      </p>
      <p>
        When you are fine with what you've got click <b>Add to playlist</b> button.
        This tracks will appear in your «Discover Daily» playlist. If you have none it will be created.
      </p>
    </div>
  </div>
</ng-template>
