<ng-container *ngFor="let genre of genreList">
  <div *ngIf="genre.isSelected"
       (click)="unselectGenre(genre)"
       class='list-item selectable selected'
       [style.padding]='device.isMobile() ? "0.5rem" : "1rem"'>
    <div [style.display]='device.isMobile() ? "none" : "flex"' class='list-item-column dot'>
    </div>
    <div class='list-item-column w-40'>
      <b>{{genre.name}}</b>
    </div>
    <div [style.justify-content]='device.isMobile() ? "center" : "flex-start"' class='list-item-column w-20'>
      <b>{{genre.tracks.length}}</b> <span *ngIf='!device.isMobile()'>tracks</span>
    </div>
    <div class='list-item-column w-40'>
      {{genre.displayArtists}}
    </div>
  </div>
</ng-container>
<ng-container *ngFor="let genre of genreList">
  <div *ngIf="!genre.isSelected"
       (click)="selectGenre(genre)"
       class='list-item selectable'
       [style.padding]='device.isMobile() ? "0.5rem" : "1rem"'>
    <div [style.display]='device.isMobile() ? "none" : "flex"' class='list-item-column dot'>
    </div>
    <div class='list-item-column w-40'>
      <b>{{genre.name}}</b>
    </div>
    <div [style.justify-content]='device.isMobile() ? "center" : "flex-start"' class='list-item-column w-20'>
      <b>{{genre.tracks.length}}</b> <span *ngIf='!device.isMobile()'>tracks</span>
    </div>
    <div class='list-item-column w-40'>
      {{genre.displayArtists}}
    </div>
  </div>
</ng-container>
