<ng-container *ngIf='!genreList.length'>
  <div class='list-item'>
    <p>
    Ah-hah, you must be the new discoverer. Welcome to the Discover Daily...<br>
    Just go out and like a few tracks. It's for your own good...<br>
    <br>
    <b>Sorry, can't recommend you nothing until I know what you like</b>
    </p>
  </div>
</ng-container>
<div *ngIf='helpVisible' class='list-item help'>
  <div class='list-item-column'>
    You can select genres for recommendations
  </div>
  <div (click)="helpVisible = !helpVisible" class='list-item-column close-help ml-1 mr-1'>
    <b>x</b>
  </div>
</div>
<ng-container *ngFor="let genre of genreList">
  <div *ngIf="genre.isSelected"
       (click)="unselectGenre(genre)"
       class='list-item selectable selected'>
    <div [style.display]='device.isMobile() ? "none" : "flex"' class='list-item-column dot'>
    </div>
    <div class='list-item-column w-40'>
      <b>{{genre.name}}</b>
    </div>
    <div [style.justify-content]='device.isMobile() ? "center" : "flex-start"' class='list-item-column w-20'>
      <b>{{genre.tracks.length}}</b>
    </div>
    <div class='list-item-column w-40'>
      {{genre.displayArtists}}
    </div>
  </div>
</ng-container>
<ng-container *ngFor="let genre of genreList">
  <div *ngIf="!genre.isSelected"
       (click)="selectGenre(genre)"
       class='list-item selectable'>
    <div [style.display]='device.isMobile() ? "none" : "flex"' class='list-item-column dot'>
    </div>
    <div class='list-item-column w-40'>
      <b>{{genre.name}}</b>
    </div>
    <div [style.justify-content]='device.isMobile() ? "center" : "flex-start"' class='list-item-column w-20'>
      <b>{{genre.tracks.length}}</b>
    </div>
    <div class='list-item-column w-40'>
      {{genre.displayArtists}}
    </div>
  </div>
</ng-container>
