<div class='flex-container-row overflow-y-hidden h-100 flex-grow-1'>
  <div class='flex-container-column flex-grow-1 h-100 w-100 p-2 box-sizing-border-box'>
    <div class='p-3 pl-4 box-sizing-border-box bg-lavenderblush'>
      <h1 class='m-0'><b>Genre Stats</b></h1>
    </div>
    <div class='overflow-y-auto h-100 p-3 box-sizing-border-box flex-grow-1 bg-lavender'>
      <app-genres-stats [genreList]="genres"></app-genres-stats>
    </div>
  </div>

  <div class='flex-container-column flex-grow-1 h-100 w-100 p-2 box-sizing-border-box'>
    <div class='p-3 pl-4 box-sizing-border-box bg-lavenderblush'>
      <h1 class='m-0'><b>Search Filters</b></h1>
    </div>
    <div class='overflow-auto h-100 p-3 box-sizing-border-box flex-grow-1 bg-lavender'>
      <app-search-filters></app-search-filters>
    </div>
  </div>

  <div class='flex-container-column flex-grow-1 h-100 w-100 p-2 box-sizing-border-box'>
    <div class='p-3 pl-4 box-sizing-border-box bg-lavenderblush'>
      <h1 class='m-0'><b>Recommended Playlist</b></h1>
    </div>
    <div class='overflow-auto h-100 p-3 box-sizing-border-box flex-grow-1 bg-lavender'>
      <app-playlist></app-playlist>
    </div>
  </div>
</div>
