<div class='row justify-content-center'>
  <div class='text-white bg-dark col-12 col-sm-4 h-100'>
    <div class='card-body'>
      <app-genres-stats [genreList]="genres"></app-genres-stats>
    </div>
  </div>

  <div class='text-white bg-dark col-12 col-sm-4 h-100'>
    <div class='card-body'>
      <app-search-filters></app-search-filters>
    </div>
  </div>

  <div class='text-white bg-dark col-12 col-sm-4 h-100'>
    <div class='card-body'>
      <div class='row'>
        <div class='col-4 col-sm-2'>
          <button [disabled]='gettingRecommendations' class='btn btn-outline-light' (click)='getRecommendedTracks()'>
            Recommend
          </button>
        </div>
        <div class='col-3 col-sm-7'>
          <button [disabled]='!recommendationsFound' class='btn btn-outline-light' (click)='addTracksToPlaylist()'>Add
          </button>
        </div>
        <div class='col-5 col-sm-3 checkbox-center'>
          <div class='form-check'>
            <input class='form-check-input' type='checkbox' [checked]='clear' (change)='clearChange()' value=''
              id='clearCheck' [disabled]='!playlistFound'
            >
            <label class='form-check-label' for='clearCheck'>
              Clear playlist
            </label>
          </div>
        </div>
        <div class='row mt-2 text-muted'>
          <div class='col'>Tracks will be added to playlist «Discover Daily». If there is none it will be created.</div>
        </div>
      </div>
      <app-playlist></app-playlist>
    </div>
  </div>
</div>
