@import "src/styles";

:host {
  height: 100%;
}

.discover-footer {
  margin: 0 0.8rem 0.8rem 0.8rem;
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-radius: $discover-card-radius;
  border: 2px solid $discover-card-border-color;
  background-color: lavenderblush;
}

.discover-footer {
  button {
    background-color: lavenderblush;
    border: 2px solid lavenderblush;
    border-radius: 0;
  }

  button.pressed {
    border-bottom: 2px solid #000000;
    color: #000000;
  }

  button:focus {
    border-bottom: 2px solid #000000;
    color: #000000;
  }
}
