@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;300;400;500;600;700;900&display=swap');

$background-color: #FFFFFF;
$card-body-color: lavender;
$card-header-color: lavenderblush;
$card-footer-color: lavender;
$selected-color: #545E75;

$header-title-size: 3rem;
$header-title-color: #5F339D;

$discover-card-radius: 0.8rem;
$discover-card-margin: 0.8rem;
$discover-card-border-width: 2px;
$discover-card-border-color: #CCCCCC;

$action-color: #1CFEBA;
$action-color-hover: #00cfb4;
$secondary-action-color: gray;
$secondary-action-color-hover: gray;

$button-border-radius: 0.8rem;

html, body {
  height: 100%;
}

body {
  margin: 0;
}

.main-container {
  @apply flex flex-col w-full h-full justify-items-start items-center box-border p-4 pt-4 space-y-4;
}

.card {
  @apply rounded-lg w-full flex flex-col bg-white shadow-lg;
}

.card__header {
  @apply flex rounded-t-lg justify-between bg-gradient-to-r from-teal-300 to-teal-500;
}

.card__header-title {
  @apply text-2xl md:text-4xl font-discover font-black p-4;
}

.card__header-search {
  @apply flex items-center p-4
}

.card__body {
  @apply w-full px-2;
}

.list {
  @apply flex;
}

.list__item {

}
//
//input[type=text] {
//  font-family: 'Prompt', sans-serif;
//  //font-size: 1rem;
//  box-sizing: border-box;
//  border: 2px solid $discover-card-border-color;
//  border-radius: $button-border-radius;
//  padding: 0.4rem 1rem;
//}
//
//input[type=text]:focus {
//  outline: 0 solid #000000;
//  border: 2px solid #000000;
//}
//.flex-container-column {
//  display: flex;
//  flex-direction: column;
//}
//
//.flex-container-row {
//  display: flex;
//  flex-direction: row;
//}
//
//.flex-container-row-revers {
//  display: flex;
//  flex-direction: row-reverse;
//}
//
//.box-sizing-border-box {
//  box-sizing: border-box;
//  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
//  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
//}
//
//.overflow-y-hidden {
//  overflow-y: hidden;
//}
//
//.overflow-y-auto {
//  overflow-y: auto;
//}
//
//.bg-lavender {
//  background-color: lavender;
//}
//
//.bg-lavenderblush {
//  background-color: lavenderblush;
//}
//
//.bg-yellow {
//  background-color: khaki;
//}
//
//.w-33 {
//  width: 33%;
//}
//
//.w-66 {
//  width: 66%;
//}
//
//.discover-main-container {
//  //font-family: 'Prompt', sans-serif;
//  //font-size: medium;
//  display: flex;
//  flex-direction: column;
//  height: 100%;
//
//  .discover-header {
//    display: flex;
//    flex-direction: row;
//    box-sizing: border-box;
//    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
//    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
//    padding: 1rem;
//
//    .discover-header-title {
//      font-family: 'Source Code Pro', monospace;
//      font-size: $header-title-size;
//      line-height: $header-title-size;
//      color: $header-title-color;
//      width: 100%;
//    }
//
//    .discover-header-user {
//      display: flex;
//      flex-direction: row;
//      align-items: center;
//      width: 100%;
//      justify-content: flex-end;
//
//      .user-pic {
//        height: $header-title-size;
//        width: $header-title-size;
//        margin-right: 1rem;
//        border-radius: 50%;
//      }
//
//      .user-name {
//        //color: $header-title-color;
//        //font-size: large;
//        font-size: large;
//        margin-right: 1rem;
//      }
//    }
//  }
//
//  .discover-main-body {
//    display: flex;
//    flex-direction: row;
//    justify-content: center;
//    overflow-y: scroll;
//    height: 100%;
//    width: 100%;
//    flex-grow: 1;
//  }
//
//  .discover-main-footer {
//    display: flex;
//    flex-direction: row;
//  }
//}
//
//.discover-card {
//  display: flex;
//  flex-direction: column;
//  flex-grow: 1;
//  border: $discover-card-border-width solid $discover-card-border-color;
//  width: 100%;
//  box-sizing: border-box;
//  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
//  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
//  border-radius: $discover-card-radius;
//  background-color: $card-body-color;
//  margin: $discover-card-margin;
//
//  .discover-card-header {
//    border-bottom: $discover-card-border-width solid $discover-card-border-color;
//    display: flex;
//    flex-direction: row;
//    box-sizing: border-box;
//    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
//    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
//    padding: 1rem 1rem 1rem 1.5rem;
//    background-color: $card-header-color;
//    border-radius: $discover-card-radius $discover-card-radius 0 0;
//
//    .discover-card-header-column {
//      display: flex;
//      align-content: center;
//      align-items: center;
//    }
//  }
//
//  .discover-card-body {
//    overflow: auto;
//    height: 100%;
//    padding: 1rem;
//    box-sizing: border-box;
//    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
//    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
//    flex-grow: 1;
//    background-color: $card-body-color;
//    border-radius: 0 0 $discover-card-radius $discover-card-radius;
//  }
//
//  .discover-card-footer {
//    display: flex;
//    flex-direction: row;
//    justify-content: center;
//    box-sizing: border-box;
//    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
//    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
//    padding: 1rem 1rem 1rem 1.5rem;
//    background-color: $card-footer-color;
//    border-radius: 0 0 $discover-card-radius $discover-card-radius;
//  }
//}
//
//.discover-card.grow-0 {
//  flex-grow: 0;
//  .discover-card-body {
//    height: fit-content;
//    flex-grow: 0;
//  }
//}
//
//.discover-card:not(:first-of-type) {
//  margin-left: 0;
//}
//
//
//.list-item {
//  display: flex;
//  flex-direction: row;
//  justify-content: space-between;
//  align-items: center;
//  //box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.080);
//  border-bottom: 2px solid $discover-card-border-color;
//  background-color: lavender;
//  padding: 1rem;
//  //margin-top: 1rem;
//
//  .list-item-column.dot {
//    height: .7rem;
//    width: .7rem;
//    margin-right: 1rem;
//  };
//
//  .list-item-column.close-help {
//    cursor: pointer;
//  }
//  .list-item-column {
//    display: flex;
//    align-items: center;
//    justify-content: flex-start;
//    overflow-wrap: break-word;
//
//    input.button-toggle-alike {
//      width: 8rem;
//    }
//  }
//}
//
//.list-item.help {
//  background-color: $discover-card-border-color;
//}
//
//.list-item.header {
//  padding-top: 0;
//  color: $discover-card-border-color;
//  border-bottom: 0 solid $discover-card-border-color;
//}
//
//.list-item:first-of-type {
//  margin-top: 0;
//}
//
//.list-item:last-of-type,
//.list-item.selectable:last-of-type
//{
//  border-bottom: 0 solid $discover-card-border-color;
//}
//
//
//.list-item.selectable {
//  transition: 150ms;
//  cursor: pointer;
//
//  .list-item-column.dot {
//    height: .7rem;
//    width: .7rem;
//    margin-right: 1rem;
//    border-radius: 100%;
//    transition: 150ms;
//  }
//}
//
//.list-item.selectable.selected {
//  background-color: $selected-color;
//  color: #FFFFFF;
//
//  .list-item-column.dot {
//    background-color: #FFFFFF;
//  }
//}
//
//.list-item.selectable:hover {
//  background-color: $selected-color;
//  color: #FFFFFF;
//
//  .list-item-column.dot {
//    //background-color: #FFFFFF;
//  }
//}
//
//.list-item.selectable.selected:hover {
//  background-color: $card-body-color;
//  color: #000000;
//
//  .list-item-column.dot {
//    background-color: #000000;
//  }
//}
//
//.discover-button-toggle-group {
//  display: flex;
//
//  .discover-button-toggle:first-of-type {
//    border-radius: $button-border-radius 0 0 $button-border-radius;
//  }
//
//  .discover-button-toggle:not(:first-of-type) {
//    border-left: 0;
//  }
//
//  .discover-button-toggle {
//    border-radius: 0;
//    min-width: 4rem;
//  }
//
//  .discover-button-toggle:last-of-type {
//    border-radius: 0 $button-border-radius $button-border-radius 0;
//  }
//}
