/* You can add global styles to this file, and also import other style files */

$enable-responsive-font-sizes: true;

@import '~bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@900&display=swap');

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.flex-container-column {
  display: flex;
  flex-direction: column;
}

.flex-container-row {
  display: flex;
  flex-direction: row;
}

.flex-container-row-revers {
  display: flex;
  flex-direction: row-reverse;
}

.box-sizing-border-box {
  box-sizing: border-box;
}

.overflow-y-hidden {
  overflow-y: hidden;
}

.overflow-y-auto {
  overflow-y: auto;
}

.bg-lavender {
  background-color: lavender;
}

.bg-lavenderblush {
  background-color: lavenderblush;
}
